*{
    /* CSS reset - resets the premade margins and padding by browser. This way, it is better to manipulate the elements using 0 margins and paddings. */

    /* 
    Calculations for the dimensions of the element: (without box sizing)
    border + padding + margin + content(height/width)
    */

    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    vertical-align: top;
/* border-box - accounts for the size of th border */
}

#div1{
     /* margin is the space outside the border */
    /* padding is the space in between the content and the border */
    /* margin: 50px; */
    padding: 20px; 
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;    
}

#div2 {
    /* top^bottom - left^right */
    /* margin: 25px 100px; */
    /* top, left^right, and bottom */
    /* margin: 10px 70px 50px; */
    /* top right bottom and left */
    /* margin: 100px 10px 15px 50px; */

    /* margin in a specific side */
    /* margin-top: 10px; */

    border: 2px solid black;
    padding: 20px; 
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    /* the contents of the element will be aligned to the top of the box */
    /* vertical-align: top; */
    
    
}

#span1{
    display: inline-block;
    border: 2px solid black;
    background-color: green;
    height: 100px;
    width: 100px;
    /* padding: 20px; */
}

#span2{
    display: inline-block;
    border: 2px solid black;
    background-color: blue;
    height: 100px;
    width: 100px;
    /* padding: 20px; */
}




