*{
    /* CSS reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Navbar */
nav{
    padding: .8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* , - multiple selector : used to select multiple selectors with different type/class/id */
/* nav #nav-logo, nav .nav{} */

/* the devs have the freedom to separate the brand logo from it snavbar to highlight the brand itseld or to include it to save space */

li{
    margin: .5rem;
    display: inline-block;
}

/* intro section */

#intro{
    /* using % in margin or padding will use n% of the screen size as its margin or passing */

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

#intro > h2, #intro > p {
    margin-bottom: 1rem;
}

#intro button{
    color: white;
    font-weight: bold;
    background-color: #c2395b;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
}

/* info section */
#info{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

#info>h2 {
    margin-bottom: 1rem;

}

#info>.card{
    border: 1px solid black;
    display: inline-block;
    /* using $ for width will consume n% of the user screen size. */
    width: 20%;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 5px;
    /* aligns the card elements at the top of their line */
    vertical-align: top;
    /* min-height: ;sets the minimum height for the content if it doesn't reach the target height. */
    min-height: 200px;
       
}

#info h3{
    margin-top: 1rem;
    margin-bottom: 1rem;

}

/* footer */

footer{
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    margin-left: .5rem;
    margin-right: .5rem;
}

